.QuestionList-Wrapper {
    padding: 20px;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        background-color: orange;

    }

    .questionList {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px 50px;
        width: 350px;

        .question {
            border: 1px solid orange;
            height: 50px;
            width: 50px;
            padding: 0 15px;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: orange;
            }
        }
    }
}