.QuestionList-Wrapper {

    .header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 50px;
        background-color: orange;
        font-weight: 500;
        color: #fff;
        font-size: 20px;

        .mark-question {
            cursor: pointer;
        }

        .count-down-timer {

        }

        .do-again {
            cursor: pointer;
        }
    }


    .questionList {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-wrap: wrap;
        gap: 10px 50px;
        width: 350px;

        .question {
            border: 1px solid orange;
            height: 50px;
            width: 50px;
            padding: 0 15px;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: orange;
            }
        }
    }
}