.btn {
    padding: 9px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;

    &:hover {
        cursor: pointer;
    }
}

.active {
    background-color: red;
}

.primary {
    background-color: #007bff;
}

.secondery {
    background-color: #6c757d;
}

.success {
    background-color: #28a745;
}

.warning {
    background-color: #dc3545;
}