
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {

}

.navbar-brand {
    margin-right: 0;
    max-width: 90px;
}

.logo-icon {
    
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
    height: 100vh;
}

.sidenav-container {
    width: 300px;
    background-color: antiquewhite;
}

.app-content {
    background-color: aquamarine;
    border: 1px dashed #ccc;
    width: 33,333%;
}

.app-content:first-child {
    flex-grow: 1;
}

.navbar-nav {
    .nav-link {
        &.active {
            color: red;
        }
    }

}