* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    // overflow: hidden;
}

:root {
    --primary-color: #4255ff;
    --btn-color: #1976d2;
    --btn-secondary: #9c27b0;
}

.navbar-brand {
    margin-right: 0;
    max-width: 90px;
}

.navbar-nav {
    .nav-link {
        &.active {
            color: var(--primary-color);
        }
    }
}

.header-container .navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: transparent !important;
    height: 88px;

    .container {
        img {
            width: 100px;
        }
    }
}

.homepage-container {
    .homepage-video {
        position: absolute;
        top: -55px;
    }

    .homepage-video,
    .nav-bar {
        width: 100%;
    }
}

.homepage-content {
    width: 544px;
    position: relative;
    top: 15%;
    margin-left: 17%;

    .title {
        font-size: 64px;
        font-weight: 300;
        color: rgb(38, 38, 39);
        font-weight: 400;
    }

    .desc {
        font-size: 24px;
        margin-top: 24px;
        margin-bottom: 40px;
        color: rgb(38, 38, 39);
        opacity: 0.8;
        font-weight: 300;
    }

    .condition {
        margin-top: 24px;
    }
}

.app-content {
    .Wrapper-List-Quiz {
        width: 1300px;
        margin: auto;
        margin-top: 88px;
    }
}

.me-auto.navbar-nav {
    font-weight: 500;
}

.signUp-btn {
    margin-left: 16px;
}

.btn.btn-primary {
    background-color: var(--btn-color);
    display: flex;
    align-items: center;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.iconMarginLeft {
    margin-right: 10px;
}


.btn-secondary {
    background-color: var(--btn-secondary);
    border: none;
}

.btn-warning {
    background-color: var(--btn-warning);
}


.languages {
    
    .dropdown-toggle::after {
        display: none!important;
    }

}
