.detail-quiz-container {
    display: flex;
    padding: 50px;
    gap: 20px;

    .test-side {
        border: 1px solid var(--primary-color);
        width: 70%;


        .footer {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-top: 22px;
        }

        .question-content {
            margin-left: 50%;
            transform: translateX(-50%);

            img {
                width: 400px;
            }
        }
    }

    .order-question-side {
        border: 1px solid #1976d2;  
        flex-grow: 1;
    }
}