.Wrapper-List-Quiz {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
        margin-bottom: 20px;
    }


    .card-img-top {
        height: 300px;
        object-fit: cover;
    }
}