// admin Dashboard
.admin-container {
    display: flex;

    .amdin-sidebar {
        bottom: 0;

        .pro-sidebar  {
            height: 100vh;
        }

        .title {
            margin-left: 10px;
        }
    }

    .admin-content {
        flex-grow: 1;
        
        .amdin-header {
            height: 60px;
            box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;

            .options {
                display: flex;
                gap: 30px;
            }
        }
        
        .admin-main {
            width: 1500px;
            margin: 0 auto;
            height: calc(100vh - 60px);

        }

        .control-btn-sidebar {
            margin-left: 10px;
            cursor: pointer;
        }
    }
}