// admin Dashboard
.admin-container {
    display: flex;

    .amdin-sidebar {
        bottom: 0;

        .pro-sidebar  {
            height: 100vh;
        }

        .title {
            margin-left: 10px;
        }
    }

    .admin-content {
        flex-grow: 1;
        width: 1500px;
        margin: 0 auto;

        .amdin-header {
            height: 60px;
            box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
        }

        .control-btn-sidebar {
            margin-left: 10px;
            cursor: pointer;
        }
    }
}